---
from: hugohelp@dublin2019.com
fromname: Hugo Awards 2019
subject: Your 2019 Hugo Award and John W. Campbell Nominating Ballot
---
Dear {{&name}},

Thank you for your nomination for the 2019 Hugo Awards, John W. Campbell Award and 1944 Retro Hugo Awards.

We know that some voters have experienced problems when trying to change their nominations, which is caused by the page being loaded while the system is logging you in. To prevent this, the nominations link now takes you to a landing page from which you can navigate to both the 2019 Hugos and 1944 Retro Hugos pages, which ensures that you will have been fully logged in when you open those pages.

Below is a summary of your current nominating ballot:

{{&nominations}}

You may make changes to your nominations until 15 March 2019 at 11:59pm Pacific Daylight Time (2:59am Eastern Daylight Time, 06:59am Greenwich Mean Time, both on 16 March), by using the following link to sign in again:

To nominate for the 2019 Hugo Awards and 1944 Retro Hugo Awards:

{{&login_uri}}/nominate-landing


Dublin 2019 - An Irish Worldcon
hugohelp@dublin2019.com
https://dublin2019.com/
