---
from: hugohelp@dublin2019.com
fromname: Hugo Awards 2019
subject: Your Updated 2019 Hugo Award Voting Ballot
---
Dear {{&name}},

Thank you for voting in the 2019 Hugo awards and 1944 Retro Hugo awards.

Below is a summary of your current ballot.

{{&votes}}

You may continue to make changes to your ballot until 31 July 2019 11:59 p.m. Pacific Daylight Time, (2:59 a.m. Eastern Daylight Time, 07:59 British Summer Time, all on 1 August 2019) by using the following links to sign in:

To vote for the 2019 Hugo Awards: {{&login_uri}}/vote
To vote for the 1944 Retro Hugo Awards: {{&login_uri}}/vote-retro


Dublin 2019 - An Irish Worldcon
hugohelp@dublin2019.com
https://dublin2019.com/
