---
from: registration@dublin2019.com
fromname: Dublin 2019 - An Irish Worldcon - Registration
subject: Dublin 2019 - An Irish Worldcon - Invoice
---
Hi, 

Please be advised you have an invoice from Dublin 2019 due.

Please go here {{&login_uri}}
 to view & pay the invoice
 

Kind Regards
Dublin 2019
